@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">">
    <title>Hastane Adı - Ana Sayfa</title>
</head>
<body>

    <header class="container mt-4">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Hospital-de-Bellvitge.jpg/640px-Hospital-de-Bellvitge.jpg" class="img-fluid" alt="Hayal Hastanesi">
    </header>


    <div class="container mt-4">
        <h2>Hayal Hastanesi</h2>
        <p>
            Hayal Hastanesi, insan sağlığına adanmış bir kuruluştur. Modern tıbbi teknoloji ve uzman kadrosu ile hastalarına
            en üst düzeyde sağlık hizmeti sunmaktadır. Hastanemiz, konforlu ve şık tasarımıyla hastalarını karşılar, güven
            veren atmosferiyle huzurlu bir iyileşme süreci sunar.
        </p>
        <p>
            Biz, hasta odaklı bir anlayışla çalışarak hastalarımıza kaliteli ve etkili sağlık hizmeti sunmayı amaçlıyoruz.
            Deneyimli doktorlarımız, hemşirelerimiz ve diğer sağlık personelimizle birlikte, hastalarımızın her türlü ihtiyacını
            karşılamak için buradayız. Hayal Hastanesi, tedavi süreçlerini bireyin özel ihtiyaçlarına göre uyarlamayı ve
            hasta memnuniyetini ön planda tutmayı hedefler.
        </p>
        <p>
            Modern tıbbi teknolojiyi kullanarak, hastalarımıza güvenli, etkili ve hızlı bir tedavi sunuyoruz. Hastanemizde
            bir dizi uzmanlık alanında hizmet verilmekte olup, her türlü sağlık sorununa çözüm bulma amacı taşıyoruz.
            Hayal Hastanesi, sizin ve sevdiklerinizin sağlığını ön planda tutar, sağlıkta yeni bir başlangıç sunar.
        </p>
    </div>

</body>
</html>